[submodule "modules/Generator"]
	path = modules/Generator
	url = https://github.com/TheLartians/Generator.git
[submodule "modules/Event"]
	path = modules/Event
	url = https://github.com/TheLartians/Event.git
[submodule "modules/NDArray"]
	path = modules/NDArray
	url = https://github.com/TheLartians/NDArray.git
[submodule "modules/Parser"]
	path = modules/Parser
	url = https://github.com/TheLartians/Parser.git
[submodule "modules/Expresso"]
	path = modules/Expresso
	url = https://github.com/TheLartians/Expresso2.git
[submodule "modules/Glue"]
	path = modules/Glue
	url = https://github.com/TheLartians/Glue.git
[submodule "modules/Visitor"]
	path = modules/Visitor
	url = https://github.com/TheLartians/Visitor.git
  
